body{
  color: black;
  font-size: 30px;
  font-family: Helvetica Neue;
  font-weight: 25;
  text-align: center;
}

.Card a:hover{
  text-decoration: none;
  color:pink;
  text-align: center;
}

#banner h1{
  background-size:cover;
  background-image: url("images/unicorn.jpg");
  text-shadow: 7px 3px 8px lightblue;
  font-size:60px;
}

.List{
  text-align:center;
  word-spacing: 16;
  font-family:Helvetica Neue;
  font-style: medium;
  color:lightgrey;
}

.Card h2{
  font-size: 45px;
  text-align:center;
  word-spacing:13;
  font-family:Helvetica Neue;
  font-style: bold;
  text-shadow: 5px 2px 6px yellow;
  color:#8a5ec0;

}

.Card a{
  text-decoration:none;
  font-size: 45px;
  text-align:center;
  word-spacing:13;
  font-family:Helvetica Neue;
  font-style: bold;
  text-shadow: 5px 2px 6px yellow;
  color:#8a5ec0;